<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IPersonWcfService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://webservicedemo.datamatiker-skolen.dk/PersonWcfService.svc/soap"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPersonWcfService"
                contract="IPersonWcfService" name="BasicHttpBinding_IPersonWcfService" />
        </client>
    </system.serviceModel>
</configuration>